<!DOCTYPE suite SYSTEM "D:\Mo Trading Automation\MoAutomation\src\test\resources\testng-1.0.dtd">
<suite name="Default suite">
  <test name="Default test">
    <classes>
      <class name="nadeem.AppRegression"/>
      <class name="nadeem.AppRegressionII"/>
      <class name="nadeem.MORiise"/>
    </classes>
  </test>
</suite>
